<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>
        <menuitem id="approval_root"
                  name="ApproveHub"
                  sequence="10"/>

        <menuitem id="approval_sub_menu"
                  name="Approval Assign"
                  parent="approval_root"
                  action="action_approval_form_tree"
                  sequence="1"/>
    </data>
</odoo>